html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Disable scrolling */
    max-width: 100vw;
  }

 
 div{
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 10vh;
    position: relative;
   

}
img{
    display: block;
    width: 22vw;
   
    height: 25.3vh;
    

}
button{
    display: block;
    margin-top:0 ;
    background-image: linear-gradient(to right, #ff0000, #00ff00);
    padding: 2vh 2vh 1vw 1vw ;
    text-align: center;
    font-size: 4vh;
   
    height:7vh ;
    width: 22vw;
    cursor: pointer;
    border: none;
    position: absolute;
    
}